*{
  /*  background-color: #DDF5F7;*/
    text-align: center; /* Not all text, just for now*/
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}

.Section{
  height:100%;
  margin: 0px;
  padding: 0px;
  width: 100%;

}

/* landing section*/

.landing{
  background-image: url("images/bkgrnd_edits/bkgrnd-10_crystal_71.4_80speed.gif"); /*remove when you don't feel dizzy*/
  background-size: 100%;
  background-color:black;
  /*filter: brightness(50%);*/
  background-blend-mode: screen;
}

img {
    width: 150px;
    object-fit: cover;
   border-radius: 100%;
   margin-top: 40px;
}


h1{
    font-size: 40px;
    color:white;
    font-family: 'Niramit', sans-serif;
    font-weight: 300;
}

h2{
  color:white;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  margin-top: 50px;
  font-size: 25px;
}

h2 > span{

  color:white;
font-family: 'Codystar', cursive;
  size: 100px;
  /*font-style: normal;  */

}

h3{
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 15px;
}


nav ul{
  background-color: white:
}

nav > ul li {
  display:inline-block;
}

nav > ul a{
  text-decoration: none;
  padding: 5px 0px 5px 0px ;
    color:white;
}

 nav> ul li .icon
 {
   width: 40px;
  border-radius: 100%;
  padding-left: 7px;
  padding-right: 7px;
  position: relative;
  left: -11px;
  transition: all 0.5s linear;
 }

.icon:hover{
   filter: brightness(50%);
}

/* Projects */

.projects{
  background: red;
}

.project-title{
    text-align: left;
    margin-left: 100px;
    font-family: 'Oswald', sans-serif;
}

.item{
     color: #C0D9E5;
     background:#44679F;
     display: inline-block;
     padding: 100px 150px 100px 150px;
     font-family: 'Abel', sans-serif;
}
