*{
  /*  background-color: #DDF5F7;*/
    text-align: center; /* Not all text, just for now*/
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    height:100%;
}

.Section{
  height:100%;
  margin: 0px;
  padding: 0px;
  width: 100%;

}

/* landing section*/

.landing{
  background-image: url("images/bkgrnd_edits/bkgrnd-10_crystal_71.4_80speed.gif"); /*remove when you don't feel dizzy*/
  background-size: 100%;
  background-color:black;
  /*filter: brightness(50%);*/
  background-blend-mode: screen;
}

img {
    width: 150px;
    object-fit: cover;
   border-radius: 100%;
   margin-top: 40px;
}


h1{
    font-size: 40px;
    color:white;
    font-family: 'Niramit', sans-serif;
    font-weight: 300;
}

h2{
  color:white;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  margin-top: 50px;
  font-size: 25px;
}

h2 > span{

  color:white;
font-family: 'Codystar', cursive;
  size: 100px;
  /*font-style: normal;  */

}

h3{
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 15px;
}


nav ul{
  background-color: white:
}

nav > ul li {
  display:inline-block;
}

nav > ul a{
  text-decoration: none;
  padding: 5px 0px 5px 0px ;
    color:white;
}

 nav> ul li .icon
 {
   width: 40px;
  border-radius: 100%;
  padding-left: 7px;
  padding-right: 7px;
  position: relative;
  left: -11px;
  transition: all 0.5s linear;
 }

.icon:hover{
   filter: brightness(50%);
}

/* Projects */

.projects{
  background: white;
  position: relative;
  top: -27px;
}

.project-title{
    text-align: left;
    margin-left: 80px;
    font-family: 'Niramit', sans-serif;
    color: black;
}
.projects > div{
  text-align: left;
}

.projects > div{
  width: 49%; /*because the border width is > 0 px*/
  float:left;
  min-height:255px;
  border-style: ridge;
  border-radius: 3px;
}

.projects > div:nth-of-type(3),.projects > div:nth-of-type(4){
  min-height:242px;

}

.projects h2, .projects h3,.projects h4, .projects p{
  color:black;
  text-align: inherit;
  font-style: normal;
  margin-left: 80px;
  margin-right: 80px;
}

.projects h2{
  font-size: 15px;
  margin-top: 20px;

}

.projects h3{
    font-style: italic;
    font-size: 12px;

}

.projects h4{
  color:rgb(31, 101, 186);
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;

}

.projects p{
  color:black;
  text-align: inherit;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
}
