*{
  /*  background-color: #DDF5F7;*/
}

html {
  scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    height:100%;
    background-color:black;
}

.Section{
  /*height:100%;*/
  margin: 0px;
  padding: 0px;
  width: 100%;

}



/* landing section*/

.landing{
  text-align: center;
  background-image: url("images/bkgrnd_edits/bkgrnd-10_crystal_71.4_80speed.gif"); /*remove when you don't feel dizzy*/
  background-size: 100%;
  background-color:black;
  height: 100%;
  /*filter: brightness(50%);*/
  background-blend-mode: screen;
}

img {
    width: 150px;
    object-fit: cover;
   border-radius: 100%;
   margin-top: 40px;
}


h1{
    font-size: 40px;
    color:white;
    font-family: 'Niramit', sans-serif;
    font-weight: 300;
}

h2{
  color:white;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
/*  margin-top: 50px; */
  font-size: 25px;
}

h2.first-line{
  margin-top: 50px;
}

h2 > span{

  color:white;
font-family: 'Codystar', cursive;
  size: 100px;
  /*font-style: normal;  */

}

h3{
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 15px;
  margin-top: 50px;
}


nav ul{
  background-color: white:
}

nav > ul li {
  display:inline-block;
}

nav > ul a{
  text-decoration: none;
  padding: 5px 0px 5px 0px ;
    color:white;
}

 nav> ul li .icon
 {
   width: 40px;
  border-radius: 100%;
  padding-left: 7px;
  padding-right: 7px;
  position: relative;
  left: -21px;
  transition: all 0.5s linear;
 }

.icon:hover{
   filter: brightness(50%);
}

/* Work Experinece */
.work-experience{
/*  height:130%; */
  background: black;
  position: relative;
  top: -27px;
}

.work-title{
    text-align: center;
    font-family: 'Niramit', sans-serif;
    color: white;
}

.job-section{
    margin-top: 5%;
    min-height: 250px;
}

.last-job{
    margin-top: 5%;
    min-height: 300px;
}

.work-experience h2, .work-experience h3{
    margin-right: 7%;
}

.work-experience h3{
    font-style: italic;
    font-size: 12px;
    color: rgb(150, 150, 150);
}

.work-experience h4{
  color:rgb(79, 145, 226);
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;

}

.work-experience span.left{
  width: 50%;
  float:left;
  text-align: right;

}

.work-experience span.left h2{
  width: 50%;
  margin-left: 43%;
}

.work-experience span.right{
  width: 50%;
  float:left;
  text-align: initial;
}

.work-experience ul{
  color:white;
  text-align: justify;
  display: inline-block;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  color: rgb(200, 200, 200);
  width: 70%;
}



/* Projects */

.projects{
  text-align: center;
  /*height: 1350px; */
  height:500%;
  background: black;
  position: relative;
  top: -54px;
}

.project-title{
    text-align: left;
    margin-left: 80px;
    font-family: 'Niramit', sans-serif;
    color: white;
}
.projects > div{
  text-align: left;
}

.projects > div{
  width: 49.5%; /*because the border width is > 0 px*/
  float:left;
  min-height:300px;
  border-style: ridge;
  border-radius: 1px;
}


.projects h2, .projects h3,.projects h4, .projects p{
  color:white;
  text-align: inherit;
  font-style: normal;
  margin-left: 80px;
  margin-right: 80px;
}

.projects h2{
  font-size: 15px;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;


}

.projects h3{
    font-style: italic;
    font-size: 12px;
    color: rgb(150, 150, 150);

}

.projects h4{
  color:rgb(79, 145, 226);
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;

}

.projects p{
  color:white;
  text-align: inherit;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  color: rgb(200, 200, 200);

}


@media (min-width: 1215px){

  .projects{
    height: 1400px;
  }

  .projects > div{
    min-height:310px;
  }
}


@media (max-width: 1215px) and (min-width:1000px){
  .projects{
    height: 1600px;
  }

  .projects > div{
    height: 370px;

  }

  .last-job{
    min-height: 500px;
  }
}

@media (max-width: 1000px) and (min-width:800px){
  .projects{
    min-height: 2100px;
  }

  .projects > div{
    height:470px;

  }

  .work-experience{
    height:115%;
  }
}

@media (max-width: 800px) and (min-width:650px){
  .projects{
    min-height: 3620px;
  }

  .projects > div{
    min-height:800px;
  }

  .work-experience{
    height:132%;
  }
}


@media (max-width: 650px) {
  .arrow-down{
    display: none;
  }

  .projects{
    min-height: 3500px;
  }

  .projects > div{
    min-height:300px;
    width: 99%;

  }
  .job-section{
    min-height: 750px;
  }

  work-experience span.left{
    width: 70%;
    float: none;
    text-align: center;

  }

  .work-experience span.left h2{
    width: 100%;
    margin-left: 43%;
  }

  .work-experience span.left h3{
    width: 100%;
    margin-left: 43%;
  }

  .work-experience span.right{
    width: 50%;
    float: none;
    text-align: center;
  }
}


/*style for button*/
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
}

#down-arrow { background: black;}
.arrow-down a {
  position: absolute;
  bottom: 90px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.arrow-down a:hover {
  opacity: .5;
}

#down-arrow a {
  padding-top: 60px;
}
#down-arrow a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
